table{
    border: 2px solid black;
    background-color:lightgray;
    
    width: 50%;
    text-align: center ;
    margin: auto


}

th, td{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: white;
    color:black;
}
 h1{
    text-align: center;
    border: 2px solid black;
    justify-self: center;
    background-color: aquamarine;
 }
 
    
